.navbarContainer {
  color: var(--white);
  background: rgb(6, 227, 182);
  background: linear-gradient(
    -45deg,
    rgba(6, 227, 182, 1) 0%,
    rgba(181, 246, 195, 1) 65%
  );
  padding: 0.5rem 2rem;
  border-radius: 0px 0px 1rem 1rem;
  transition: all 1s ease;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #11e4b6;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1rem;
  letter-spacing: 3px;
  padding: 0.5rem 1rem;
  background-color: var(--white);
  border-radius: 50px;
}
.links {
  display: flex;
  gap: 1rem;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.links li a:hover {
  color: var(--green-d);
}

.loginOut {
  background: transparent;
  color: var(--white);
  border: 2px solid var(--white);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}
.loginOut:hover {
  background: var(--white);
  color: var(--green-d);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

.mobileNavButton {
  display: none;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .navbarContainer {
    padding: 0.5rem 2rem;
    border-radius: 0px 0px 1rem 1rem;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo {
    color: #11e4b6;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1rem;
    letter-spacing: 3px;
    padding: 0.5rem 1rem;
    border-radius: 50px;
  }
  .links {
    display: flex;
    gap: 1rem;
    text-transform: uppercase;
    font-size: 0.9rem;
    padding: 0.5rem 0;
  }

  .logoContainer {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  .mobileNavButton {
    display: inline-block;
  }
  .mobileNavButton:hover {
    opacity: 0.8;
  }

  .hide {
    display: none;
  }
}
