.todo {
  margin: 0.5rem;
  background: var(--white);
  font-size: 1.5rem;
  color: var(--black);
  transition: all 1s ease;
  border-radius: 0.5rem;
  overflow: hidden;
  padding-left: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.itemDetails {
  width: 100%;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.editForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.editWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.editWrapper input {
  font-family: "Poppis", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: #f1f1f1;
  color: var(--black);
}

.editWrapper input:focus {
  outline: 1px solid var(--green-d);
}

.todoEdit {
  width: 10rem;
  max-width: 90%;
}

.filter-todo {
  padding: 1rem;
}
.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn,
.edit-btn {
  color: var(--white);
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: var(--green-d);
}
.complete-btn:hover {
  background: var(--green-l);
}
.edit-btn {
  background: var(--yellow-d);
}
.edit-btn:hover {
  background: var(--yellow-l);
}
.trash-btn {
  background: var(--red-d);
}
.trash-btn:hover {
  background: var(--red-l);
}

.todo-item {
  padding: 0rem 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

@media only screen and (max-width: 600px) {
  .todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
  }

  .todo-list {
    width: 100%;
    padding: 0rem;
    gap: 1rem;
  }

  .todo {
    margin: 0rem;
    font-size: 1.2rem;
    width: 100%;
    justify-content: space-between;
  }

  .itemButtons {
    display: flex;
  }

  .filter-todo {
    padding: 0.5rem 0.5rem;
  }
}
